{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% comment %} <link rel="icon"  href="{% static 'app/imguser/starsicon.png' %}"> {% endcomment %}

    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">

    <title>DyDrive</title>
  </head>
  <body  class='position-relative overflow-hidden '> 
  <div class='position-absolute top-0 d-flex justify-content-center' >
    <img src="{{photo_randon.photo}}" style='background-size: cover; min-height: 100vh; width: 100vw;' alt="">
  </div>


<!--Base-->
    <div class='bg-white bg-opacity-50 overflow-scroll' style='z-index: 1;
    -webkit-backdrop-filter: blur(60px);
    height: 100vh;
    backdrop-filter: blur(60px);'>

    <div>
      <a href="{% url 'inicio' %}" class='d-flex text-decoration-none text-black Audiowide' id='enlace'>
    
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-stars mt-3 bodys me-1 ms-1" viewBox="0 0 16 16">
          <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
        </svg>
        <h6 class='h6 mt-3 Audiowide'>
          DyDrive
        </h6>
    
      </a>
      <style>



        @keyframes rotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
        
        .bodys {
      
          animation: rotate 5s linear infinite;
        }
      </style>
      

      
      <div class='   justify-content-center  d-none  flex-wrap   d-flex align-content-center '
      style=' 
      max-width: 30rem;

      border-radius:1rem;
      min-width: 200px;'>

      <!--Agregar-->
      <button style='height: 2rem; width: 6rem;' class='bg-transparent d-flex justify-content-center flex-wrap mt-3 me-2 Audiowide text-black border-0'>
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-patch-plus-fill w-100 text-black" viewBox="0 0 16 16">
          <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
        </svg>
        Agregar
      </button>

      <!--Favorito-->
      <button style='height: 2rem;width: 6rem; ' class='bg-transparent d-flex justify-content-center flex-wrap  mt-3 Audiowide me-1 text-black border-0'>
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-bookmark-star-fill w-100 text-black" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
        </svg>
        Destacado
      </button>

      <!--Compratir-->
      <button style='height: 2rem; width: 6.5rem;' class='bg-transparent ms-2 mt-3 d-flex justify-content-center  flex-wrap  Audiowide text-black border-0'>
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-send-fill w-100 text-black" viewBox="0 0 16 16">
          <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
        </svg>
        Compartir
      </button>

      <!--Papelera-->
      <button style='height: 2rem;width: 6rem; ' class='bg-transparent  d-flex justify-content-center flex-wrap mt-3 text-black Audiowide border-0'>
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-eye-slash-fill w-100 text-black" viewBox="0 0 16 16">
          <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
          <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
        </svg>
        Oculto
      </button>
      
      </div> 
      <hr class='w-100'>


</div>


      
        <!--Menu-->
        <div class="d-flex align-items-start overflow-hidden " style='z-index: 1;'>
    
            <div class="nav flex-column nav-pills ms-3   me-3  d-flex align-content-center justify-content-center flex-wrap overflow-hidden"style='min-height: 15rem; border-radius:1rem; min-width: 7rem; max-width: 7rem; z-index: 1;'  id="v-pills-tab" role="tablist" aria-orientation="vertical">

              <div class='d-flex justify-content-center' style='z-index: 1;'>
                <h6 class='Audiowide'>
                  <hr>
                </h6>
              </div>

              <button style='
              -webkit-backdrop-filter: blur(60px);
              backdrop-filter: blur(60px);
              border-radius:1rem;
              ' class="Audiowide bg-white mb-1 text-black bg-opacity-50 nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder w-100" viewBox="0 0 16 16">
                  <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
                </svg>
                Archivos
              </button>

              <button  style="     
                      -webkit-backdrop-filter: blur(60px);
              backdrop-filter: blur(60px);
              border-radius:1rem;" class="nav-link bg-white mb-1 bg-opacity-50 Audiowide  text-black" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images w-100" viewBox="0 0 16 16">
                  <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                  <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
                </svg>
                Fotos
              </button>

              <button style='
              -webkit-backdrop-filter: blur(60px);
              backdrop-filter: blur(60px);
              border-radius:1rem;' class="nav-link Audiowide mb-1  bg-opacity-50 bg-white text-black" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sticky w-100" viewBox="0 0 16 16">
                  <path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V8H9.5A1.5 1.5 0 0 0 8 9.5V14H2.5a.5.5 0 0 1-.5-.5v-11zm7 11.293V9.5a.5.5 0 0 1 .5-.5h4.293L9 13.793z"/>
                </svg>
                Notas
              </button>

              <button style='
              -webkit-backdrop-filter: blur(60px);
              backdrop-filter: blur(60px);
              border-radius:1rem;' class="nav-link Audiowide text-black bg-white bg-opacity-50" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-braces w-100" viewBox="0 0 16 16">
                  <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6zM13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6z"/>
                </svg>
                Codigos
              </button>


              <button style='
              -webkit-backdrop-filter: blur(60px);
              backdrop-filter: blur(60px);
              border-radius:1rem;' class="nav-link mt-1 Audiowide text-black bg-white bg-opacity-50" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note-beamed w-100 text-black" viewBox="0 0 16 16">
                <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
                <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
                <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
              </svg>
                Musica
              </button>

              <button style='
              -webkit-backdrop-filter: blur(60px);
              backdrop-filter: blur(60px);
              border-radius:1rem;' class="nav-link mt-1 Audiowide text-black bg-white bg-opacity-50" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                <img src="{{perfil.photo.url}}" width='19' height='19' class='rounded-circle' alt="">
                {{perfil.name}}
              </button>



              <button style='
              -webkit-backdrop-filter: blur(60px);
              backdrop-filter: blur(60px);
  
              border-radius:1rem;' class="nav-link mt-1 Audiowide text-black bg-white bg-opacity-50" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
              </svg>
              Opciones
              </button>


            </div>
 

            <!--SFS-->
            <div class=' ' >
              


                  <div class="tab-content  " style='
                  height: 85vh;
                  border-radius:1.5rem;
                  ' id="v-pills-tabContent">

              

                    <div class="tab-pane fade show active position-relative" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                      <div style='max-width: 50rem;'>
                        Yo tengo un flow cabron, la app aun no esta lista pero esta 😘 mamacita, asi que paciencia mis queridos, les informo que estare creando apps para todo tipo de cosas con los diseños mas hijo de putas que puedo crear, <strong class='Audiowide'>Los Dioses</strong>
                        <ul class=''>
                          <h6 class='Audiowide'>
                            Apps planeadas
                          </h6>
                          <li class='Audiowide'>App Musica</li>
                          <li class='Audiowide'>App Notas</li>
                          <li class='Audiowide'>App Fotos</li>
                        </ul>
                
                      </div>
                    </div>

                    <div class="tab-pane fade w-100  position-relative   overflow-auto  h-100" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" style='::-webkit-scrollbar:

                      width: 1px;
                      border-radius:1rem;'>


                      <!--Nueva image-->



                      <!--Imagenes-->
                      <div class=''>
                        {% for photo in photos %}
                        <img src="{{photo.photo.url}}" class='mt-1  mb-1 me-2 ' 
                        style='border-radius:0.9rem; max-width:250px;' alt="sa">
                        {% endfor %}
                      </div>

                    </div>

                    <div class="tab-pane fade overflow-auto  "  style='width: 100%; height: 40rem; border-radius:1rem;' id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">



                      <div class='d-flex flex-wrap  overflow-hidden'>
                        
                      {% for note in note %}
                      <div class="card me-1 mb-2  border-0 overflow-scroll" style="width: 18rem;
                       height: 20rem;
                       background-color:{{note.color}};
                        border-radius:1rem;">
                        <div class="card-body  " style=''>
                          <h5 class="card-title Audiowide ">{{note.title}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">...</h6>
                          <p class="card-text">
                            {{note.text}}
                          </p>
                    
                        </div>

                          <div class='position-sticky w-100 justify-content-center d-flex align-content-center flex-wrap bg-white bg-opacity-50 ps-2 pe-2   bottom-0' style='
                          border-radius: 0 0 1rem 1rem;          
                          -webkit-backdrop-filter: blur(60px);
                          backdrop-filter: blur(60px);'>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week-fill mt-1 me-2" viewBox="0 0 16 16">
                                <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM9.5 7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm3 0h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zM2 10.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
                              </svg>
                            
                            <strong>
                              {{note.created}}
                            </strong>
                          </div>
                      </div>
                      {% endfor %}

                      </div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                  </div>
                </div>
        
            </div>
    </div>
<!----------------------------------------------------->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>